# Ansible config file. Used to store customized rules on how I want things to behave and work + optimazation 

[defaults]
inventory             = inventory.ini
host_key_checking     = False                           
gathering             = smart                           

# Parallelism
forks                 = 10

# Callback plugins for profiling
callbacks_enabled     = profile_tasks, timer            

[ssh_connection]
pipelining            = True                           
ssh_args              = -C -o ControlMaster=auto -o ControlPersist=600s -o ServerAliveInterval=60
control_path          = %(directory)s/%%h-%%r