[mysqld]

# Tells MariaDB to support all languages, special characters and emojis
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci

transaction_isolation   = READ-COMMITTED
binlog_format           = ROW

